/wp-content/uploads
/wp-content/upgrade
wp-config.php
/wp-content/languages
eschaton.code-workspace
/wp-content/themes/eschaton/.sass-cache
/eschaton.code-workspace
.DS_Store
debug.log
.htaccess
/.htaccess

/wp-config.php
